language: rust
sudo: enabled
services:
  - docker
rust:
  - stable
  - beta
  - nightly
matrix:
  allow_failures:
    - rust: nightly
before_install:
  - docker run -d -p 3000:3000 juxt/crux-standalone:20.02-1.7.0-alpha
script:
    - cargo build --verbose
    - cargo test --verbose
    - cargo run --example state
    - cargo run --example tx_log
    - cargo run --example tx_logs
    - cargo run --example evict
    - cargo run --example entity
    - cargo run --example entity_tx
    - cargo run --example documents
    - cargo run --example document_by_id
    - cargo run --example simple_query