[package]
name = "transistor"
version = "0.2.2"
authors = ["Julia Naomi <jnboeira@outlook.com>", "Otavio Pace <otaviopp8@gmail.com>"]
description = "Crux Datalog Client"
documentation = "https://docs.rs/transistor/"
repository = "https://github.com/naomijub/transistor"
keywords = ["CRUX", "Client", "EDN", "database", "Datalog"]
license = "GPL-3.0-or-later"
edition = "2018"


# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
reqwest = { version = "0.10.6", features = ["blocking"] }
edn-rs = "0.9.2"

[dev-dependencies]
mockito = "0.26"
