[package]
name = "transistor"
version = "1.0.0-beta.3"
authors = ["Julia Naomi <jnboeira@outlook.com>", "Otavio Pace <otaviopp8@gmail.com>"]
description = "Crux Datalog DB Client"
readme = "README.md"
documentation = "https://docs.rs/transistor/"
repository = "https://github.com/naomijub/transistor"
keywords = ["CRUX", "Client", "EDN", "Database", "Datalog"]
license = "LGPL-3.0"
edition = "2018"

[features]
mock = ["mockito"]
time = ["chrono"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
reqwest = { version = "0.10.6", features = ["blocking"] }
edn-rs = "0.10.4"
mockito = {version = "0.26", optional = true }
chrono = {version = "0.4", optional = true }

[dev-dependencies]
mockito = "0.26"
chrono = "0.4"

